* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%)- ;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Off-white);
  min-height: 100vh;
}
body > .container {
  background-color: var(--White);
  width: 450px;
  max-width: 80%;
  padding: 30px;
  position: relative;
  border-bottom-right-radius: 150px;
}
body > .container > .input-flex {
  display: flex;
  border-bottom: 2px solid var(--Off-white);
  margin-bottom: 20px;
}
body > .container > .input-flex > .input-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 20px;
  font-family: Poppins;
}
body > .container > .input-flex > .input-container > span {
  font-weight: bolder;
  color: var(--Smokey-grey);
  font-size: 13px;
  margin-left: 2px;
}
body > .container > .input-flex > .input-container > input {
  width: 75px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--Off-white);
  outline: none;
}
body > .container > .input-flex > .input-container.input:focus {
  border: 2px solid var(--Purple);
}
body > .container > .input-flex > .input-container small {
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;
}
body > .container > .submit-btn {
  width: 70px;
  height: 70px;
  padding: 20px;
  display: flex;
  background: var(--Purple);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 70px;
}
body > .container > .submit-btn:hover {
  background-color: black;
}
body > .container > .output > h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 2.7rem;
}
body > .container > .output > h1 > span {
  color: var(--Purple);
  font-style: italic;
}

@media screen and (max-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Off-white);
    min-height: 100vh;
  }
  body > .container {
    background-color: var(--White);
    width: 450px;
    max-width: 80%;
    padding: 30px 20px;
    position: relative;
    border-radius: 20px 20px 150px 20px;
  }
  body > .container > .input-flex {
    display: flex;
    border-bottom: 2px solid var(--Off-white);
    margin-bottom: 50px;
  }
  body > .container > .input-flex > .input-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 50px;
    font-family: Poppins;
  }
  body > .container > .input-flex > .input-container > span {
    font-weight: bolder;
    color: var(--Smokey-grey);
    font-size: 13px;
    margin-left: 2px;
  }
  body > .container > .input-flex > .input-container > input {
    width: 75px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--Off-white);
    outline: none;
  }
  body > .container > .input-flex > .input-container.input:focus {
    border: 2px solid var(--Purple);
  }
  body > .container > .input-flex > .input-container small {
    color: red;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  body > .container > .submit-btn {
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    background: var(--Purple);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 125px;
    top: 110px;
  }
  body > .container > .submit-btn:hover {
    background-color: black;
  }
  body > .container > .output > h1 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 2.7rem;
  }
  body > .container > .output > h1 > span {
    color: var(--Purple);
    font-style: italic;
  }
}/*# sourceMappingURL=main.css.map */